@import './function';

.countries {
    @include flex;
    @include background-color($Middle_Blue, $White);
    flex-wrap: wrap;
    padding: 0 30px;

    .card {
        @include box-shadow;
        @include flex-column;
        @include background-color($Light_Blue, $White);
        overflow: hidden;
        border-radius: 10px;
        max-width: 300px;
        margin: 20px 40px 40px;
        text-decoration: none;
        width: 300px;

        img {
            width: 100%;
            height: 200px;
            object-fit: cover;
            cursor: pointer;
            color: transparent;
        }

        .card-info {
            @include flex-column;
            padding: 30px;

            h1 {
                margin-bottom: 10px;
            }
            span {
                line-height: 28px;
            }
        }
    }
}


@media screen and (max-width: 430px){
    .countries {
        .card {
            margin: 20px 10px 40px;
        }
    }
}
