@import './function';

.country {
    @include flex;
    text-align: center;
    color: $White;
    position: relative;

    h1 {
        text-decoration: underline;
        text-transform: uppercase;
    }

    .card {
        img {
            width: 400px;
            height: 300px;
            margin: 20px auto;
            object-fit: cover;
            color: transparent;
        }

        .country-info {
            display: flex;
            flex-direction: column;
            line-height: 35px;
        }

        strong, th {
            font-size: 20px;
        }

        .center {
            width: 100%;
            justify-content: center;
        }

        table {
            border-collapse: collapse;
            margin-top: 20px;
            width: 100%;
        }

        th, td {
            border: 1px solid $White;
            text-align: center;
            padding: 8px;
            line-height: 35px;
        }
    }

    .left {
        position: absolute;
        top: 35px;
        left: 40px;
        font-size: 30px;
        color: $White;
        text-decoration: none;
    }
}


@media screen and (max-width: 450px){
    .country {
        .card {
            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
    }
}
