@mixin flex($justify: center) {
    display: flex;
    justify-content: $justify;
    align-items: center;
}
@mixin flex-column {
    display: flex;
    flex-direction: column;
}

@mixin box-shadow {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.06), 0 1px 2px rgba(0, 0, 0, 0.12);
}

@mixin box-search {
    background: $Light_Blue;
    padding: 20px;
    border-radius: 5px;
    border: none;
    color: $Light_Grey;
}

@mixin background-color($background, $color) {
    background-color: $background;
    color: $color;
}
