@import './function';

#header {
    @include flex(space-between);
    @include box-shadow;
    @include background-color($Light_Blue, $White);
    position: relative;

    h1 {
        font-size: 35px;
        font-weight: 800;
    }

    span {
        font-weight: 600;
    }

    .mode {
        cursor: pointer;
    }

    .hide {
        display: none;
    }
}

@media screen and (max-width: 520px){
    #header {
        flex-direction: column-reverse;
        text-align: center;

        h1 {
            margin-top: 10px;
        }
    }
}
