@import './function';

body.light {
    background-color: $Light_Grey;

    .smoothArrow, .notFound {
        color: $Middle_Blue;
    }

    #header {
        @include background-color($White, $Black);
    }

    .search {
        background-color: $Light_Grey;

        #input, .filter {
            @include background-color($White, inherit);
        }

        .filter {
            .arrow {
                color: inherit;
            }

            .filter-list {
                background-color: $White;
            }
        }
    }

    .countries {
        background-color: $Light_Grey;

        .card {
            @include background-color($White, $Black);
        }

        .loading {
            color: $Black;
        }
    }

    .country {
        color: $Black;

        th, td {
            border: 1px solid $Black;
        }

        .left {
            color: $Black;
        }
    }
}
