@import './function';

.search {
    @include flex(space-between);
    background: $Middle_Blue;

    #input {
        @include box-shadow;
        @include box-search;
        width: 250px;
        font-weight: 300;
        font-size: 15px;
    }

    .filter {
        @include box-shadow;
        @include box-search;
        position: relative;
        cursor: pointer;
        font-weight: 300;

        .arrow {
            margin-left: 10px;
        }

        .filter-list {
            @include box-shadow;
            position: absolute;
            top: 110%;
            left: 0;
            width: 100%;
            list-style-type: none;
            border-radius: 10px;
            background-color: $Light_Blue;

            .region {
                padding: 0 10px;
                margin: 15px 10px;
            }
        }
        .filter-list.remove {
            display: none;
        }
    }
}

@media screen and (max-width: 560px){
    .search {
        flex-direction: column;

        .filter {
            margin-top: 30px;
        }
    }
}
