$Light_Blue : hsl(209, 23%, 22%);
$Middle_Blue : hsl(207, 26%, 17%);
$Dark_Blue : hsl(200, 15%, 8%);
$Light_Grey : hsl(0, 0%, 98%);
$Dark_Grey : hsl(0, 0%, 52%);
$White: hsl(0, 0%, 100%);
$Black:  hsl(0, 0%, 0%);