@import './components/variables';
@import './components/header';
@import './components/function';
@import './components/search';
@import './components/countries';
@import './components/lightMode';
@import './components/country';

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap');

*, *::before, *::after { margin: 0; padding: 0; }
html    { font-family: 'Nunito Sans', sans-serif; scroll-behavior: smooth;}
body    { background-color: $Middle_Blue; }
section { padding: 30px; }

.smoothArrow {
    position: fixed;
    font-size: 30px;
    bottom: 20px;
    right: 20px;
    color: $White;
    text-decoration: none;
}

.notFound {
    display: none;
    justify-content: center;
    color: $White;
}
