@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap");
#header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.06), 0 1px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.06), 0 1px 2px rgba(0, 0, 0, 0.12);
  background-color: #2b3945;
  color: white;
  position: relative;
}

#header h1 {
  font-size: 35px;
  font-weight: 800;
}

#header span {
  font-weight: 600;
}

#header .mode {
  cursor: pointer;
}

#header .hide {
  display: none;
}

@media screen and (max-width: 520px) {
  #header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    text-align: center;
  }
  #header h1 {
    margin-top: 10px;
  }
}

.search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #202c37;
}

.search #input {
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.06), 0 1px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.06), 0 1px 2px rgba(0, 0, 0, 0.12);
  background: #2b3945;
  padding: 20px;
  border-radius: 5px;
  border: none;
  color: #fafafa;
  width: 250px;
  font-weight: 300;
  font-size: 15px;
}

.search .filter {
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.06), 0 1px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.06), 0 1px 2px rgba(0, 0, 0, 0.12);
  background: #2b3945;
  padding: 20px;
  border-radius: 5px;
  border: none;
  color: #fafafa;
  position: relative;
  cursor: pointer;
  font-weight: 300;
}

.search .filter .arrow {
  margin-left: 10px;
}

.search .filter .filter-list {
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.06), 0 1px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.06), 0 1px 2px rgba(0, 0, 0, 0.12);
  position: absolute;
  top: 110%;
  left: 0;
  width: 100%;
  list-style-type: none;
  border-radius: 10px;
  background-color: #2b3945;
}

.search .filter .filter-list .region {
  padding: 0 10px;
  margin: 15px 10px;
}

.search .filter .filter-list.remove {
  display: none;
}

@media screen and (max-width: 560px) {
  .search {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .search .filter {
    margin-top: 30px;
  }
}

.countries {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #202c37;
  color: white;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0 30px;
}

.countries .card {
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.06), 0 1px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.06), 0 1px 2px rgba(0, 0, 0, 0.12);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #2b3945;
  color: white;
  overflow: hidden;
  border-radius: 10px;
  max-width: 300px;
  margin: 20px 40px 40px;
  text-decoration: none;
  width: 300px;
}

.countries .card img {
  width: 100%;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  cursor: pointer;
  color: transparent;
}

.countries .card .card-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 30px;
}

.countries .card .card-info h1 {
  margin-bottom: 10px;
}

.countries .card .card-info span {
  line-height: 28px;
}

@media screen and (max-width: 430px) {
  .countries .card {
    margin: 20px 10px 40px;
  }
}

body.light {
  background-color: #fafafa;
}

body.light .smoothArrow, body.light .notFound {
  color: #202c37;
}

body.light #header {
  background-color: white;
  color: black;
}

body.light .search {
  background-color: #fafafa;
}

body.light .search #input, body.light .search .filter {
  background-color: white;
  color: inherit;
}

body.light .search .filter .arrow {
  color: inherit;
}

body.light .search .filter .filter-list {
  background-color: white;
}

body.light .countries {
  background-color: #fafafa;
}

body.light .countries .card {
  background-color: white;
  color: black;
}

body.light .countries .loading {
  color: black;
}

body.light .country {
  color: black;
}

body.light .country th, body.light .country td {
  border: 1px solid black;
}

body.light .country .left {
  color: black;
}

.country {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: white;
  position: relative;
}

.country h1 {
  text-decoration: underline;
  text-transform: uppercase;
}

.country .card img {
  width: 400px;
  height: 300px;
  margin: 20px auto;
  -o-object-fit: cover;
     object-fit: cover;
  color: transparent;
}

.country .card .country-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  line-height: 35px;
}

.country .card strong, .country .card th {
  font-size: 20px;
}

.country .card .center {
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.country .card table {
  border-collapse: collapse;
  margin-top: 20px;
  width: 100%;
}

.country .card th, .country .card td {
  border: 1px solid white;
  text-align: center;
  padding: 8px;
  line-height: 35px;
}

.country .left {
  position: absolute;
  top: 35px;
  left: 40px;
  font-size: 30px;
  color: white;
  text-decoration: none;
}

@media screen and (max-width: 450px) {
  .country .card img {
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
       object-fit: contain;
  }
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
}

html {
  font-family: 'Nunito Sans', sans-serif;
  scroll-behavior: smooth;
}

body {
  background-color: #202c37;
}

section {
  padding: 30px;
}

.smoothArrow {
  position: fixed;
  font-size: 30px;
  bottom: 20px;
  right: 20px;
  color: white;
  text-decoration: none;
}

.notFound {
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
}
/*# sourceMappingURL=styles.css.map */